<app-navbar></app-navbar>

<main class="operaciones-container">

    <section class="operaciones-content">

        <h1>Procesos</h1>

        <p class="descripcion">
            Seleccione la operación que desea realizar
        </p>

        <div class="operaciones-buttons">

            <button routerLink="/crear-presupuesto">
                Crear presupuesto
            </button>

            <button routerLink="/agregar-gasto">
                Agregar gasto
            </button>

        </div>

    </section>

</main>