<nav class="navbar">

    <div class="navbar-brand">

        <img src="/icons/logo-finanzapp.svg" alt="Logo de FinanzApp Lite">

        <span>FinanzApp Lite</span>

    </div>

    <div class="navbar-links">

        <a routerLink="/operaciones" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="/icons/procesos.svg" alt="">

            <span>Procesos</span>
        </a>

        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="/icons/dashboard.svg" alt="">

            <span>Dashboard</span>
        </a>

    </div>

</nav>